[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "surround.vim"]
	path = vim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
