[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "vim/pack/javascript/start/vim-javascript"]
	path = vim/pack/javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
